/* DEBUG */

.debug * {
    border: 1px solid black;
}


/* INIT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-green: #419388;
    --green: #78db8c;
    --gray: #eaeaea;
    --light-blue: #9ed9f8;
    --light-gray: #fafafa;
    --main-trans: 200ms;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom, var(--dark-green) 0 120px, #d8dbd8 120px 100%);
}

a:link,
a:visited,
a:active,
a:hover {
    color: inherit;
    text-decoration: none;
}


/* MAIN WRAPPER */

.main_wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 85%;
    margin: 20px auto;
    flex-flow: 1 1 auto;
    background-color: white;
    box-shadow: 0px 0px 3px gray;
}


/* USER CONTAINER */

.user_container {
    flex: 0 0 370px;
    display: flex;
    flex-flow: column nowrap;
    border-right: 1px solid lightgray;
}


/* USER PANEL */

.user_panel {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 70px;
    background-color: var(--gray);
}

.user_image {
    flex: 0 0 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.user_image img {
    width: 100%;
    border-radius: 50%;
}

.user_name {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.user_buttons {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #b1b1b1;
}

.user_buttons i {
    margin-right: 17px;
    transition: var(--main-trans);
}

.user_buttons i:hover {
    cursor: pointer;
    color: gray;
}


/* NOTIFICATIONS BOX */

.notifications {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 70px;
    background-color: var(--light-blue);
}

.notifications_logo {
    flex: 0 0 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    border-radius: 100%;
    background-color: white;
    color: var(--light-blue);
}

.notifications_text {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    justify-content: center;
}

.notifications_text_title {
    font-size: 12px;
}

.notifications_link {
    font-size: 10px;
    color: gray;
    text-decoration: underline;
}


/* CHAT SEARCH BOX */

.chat_search {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: var(--light-gray);
}

button.chat_search_button {
    padding: 2px 7px;
    width: 50px;
    background-color: white;
    border: none;
    color: #b1b1b1;
    transition: var(--main-trans);
}

button.chat_search_button:hover {
    cursor: pointer;
    color: gray;
}

input.chat_search_input {
    color: #b1b1b1;
    font-size: 12px;
    flex: 1 1 auto;
    margin-left: 2px;
    padding: 2px 7px;
    outline: gray;
    background-color: white;
    border: none;
}


/* CHAT LIST BOX */

.chat_list {
    flex: 1 1 auto;
    overflow-y: scroll;
}


/* CHAT CONTAINER */

.chat_container {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
}

.chat_user_panel {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 70px;
    background-color: var(--gray);
}

.chat_user_image {
    flex: 0 0 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.chat_user_image img {
    width: 100%;
    border-radius: 50%;
}

.chat_user_name_box {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.chat_user_name {
    font-size: 16px;
}

.chat_user_date {
    font-size: 10px;
    color: gray;
}

.chat_user_buttons {
    flex: 0 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #b1b1b1;
}

.chat_user_buttons i {
    margin-right: 17px;
    transition: var(--main-trans);
}

.chat_user_buttons i:hover {
    cursor: pointer;
    color: gray;
}

.chat_panel {
    flex: 1 1 auto;
    background-image: url(../img/mine.jpg);
    background-position: center;
    overflow-y: scroll;
}

.chat_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    height: 70px;
    padding: 10px 0;
    background-color: var(--gray);
}

button.chat_input_emoticons,
button.chat_input_send {
    flex: 0 0 150px;
    height: 100%;
    font-size: 22px;
    color: #b1b1b1;
    background-color: transparent;
    border: transparent;
    transition: var(--main-trans);
}

button.chat_input_emoticons:hover,
button.chat_input_send:hover {
    cursor: pointer;
    color: gray;
}

input.chat_input_text {
    flex: 1 1 auto;
    height: 100%;
    padding: 0 10px;
    outline: gray;
    background-color: white;
    border: transparent;
    border-radius: 5px;
}


/* MEDIA QUERY PER FULL SCREEN APP SCHERMI SOTTO I 1170px */

@media screen and (max-width:1170px) {
    .main_wrapper {
        width: 100%;
        height: 100vh;
        margin: 0;
    }
}